<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252053894714-gl7dv3f7j9r8p1henr3d30cf155iptms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252053894714-gl7dv3f7j9r8p1henr3d30cf155iptms</string>
	<key>API_KEY</key>
	<string>AIzaSyDKNADphmu2qpfdjZQjkNzmhrYzOKVO7Mg</string>
	<key>GCM_SENDER_ID</key>
	<string>252053894714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ub.engineering</string>
	<key>PROJECT_ID</key>
	<string>ub-engineering-33845</string>
	<key>STORAGE_BUCKET</key>
	<string>ub-engineering-33845.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252053894714:ios:513c53660eddec0417e703</string>
</dict>
</plist>